
body{
    font-family: proxima-nova-extra-condensed, sans-serif;
}

.font-bold{
    font-weight: 700;
    font-style: normal;
}

.font-light{
    font-weight: 300;
    font-style: normal;
}

.font-italic{
    font-weight: 400;
    font-style: italic;
}

.font-regular{
    font-weight: 400;
    font-style: normal;
}

.font-thin{
    font-weight: 200;
    font-style: normal;
}



.navbar, .navbar-brand, .nav-link {
   background-color: #024873;
    color:white;
   
    
}

.navbar a:hover{
    color:#BF9BBF;
   
}

.dropdown-menu a:hover{
     background-color:#8AB0BF;
     color:white;
}

.navbar-nav{
    width: 100%;
}
.profile-icon{
    color:#BF9BBF;
}

.profile-icon:hover{
    color:white;
}

.collapse:not(.show) {
    display:none;
}
.navbar-toggler {
    border-color:#fff;
    background-color: #BF9BBF; 
    height:30px;
}


.fa-bars{
    color:white;
}

.dropdown-menu.show{
    width:190px;
    
}     

 .navbar-brand{
    margin-left:5px;
} 



